$fundo: linear-gradient(180deg, #807ECE 0%, #8E7ECE 100%);
$calculadora: #2D2A37;
$botao: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #2D2A37;
$operador: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0.01%, rgba(255, 255, 255, 0.05) 100%), #462878;
$igual: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), #7F45E2;;
$CE: #975DFA;
$branco: #EBEBEB;
